.dark-primary-color    { background: #0288D1; }
.default-primary-color { background: #03A9F4; }
.light-primary-color   { background: #B3E5FC; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #448AFF; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #757575; }
.divider-color         { border-color: #BDBDBD; }

body > nav {
	color: #03A9F4;
	background-color: transparent;
	margin-top: 40px;
	font-size: 1.2em;
}

body > nav > div > ul.right.hide-on-med-and-down > li > a {
	color: #0288D1;
}


.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-small, .btn-floating, .dropdown-content, .collapsible, .sidenav {
	box-shadow: none;
}

.hero-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.hero-container .hero-text {
	font-family: Monaco,Consolas,Lucida Console,monospace;
	font-size: 4.5em;
	color: #0288D1;
	position: relative;
	margin-top: 20vh;
}

.hero-container .pointer {
	position: absolute;
	width: 30px;
	height: 75px;
	background-color: #0288D1;
	animation-name: blink;
	animation-duration: 1000ms;
	animation-iteration-count: infinite;
	opacity: 1;
	top: 50%;
	transform: translateY(-50%);
	margin-left: 10px;
}

@keyframes blink {
	from { opacity: 1; }
	to { opacity: 0; }
}

.hero-container .hero-description {
	font-family: Camphor,Open Sans,Segoe UI,sans-serif;
	font-weight: 200;
	font-size: 1.3em;
	line-height: 40px;
	color: #212121;
	margin: 80px 0;
}

/* About */

.about-container {
	margin-top: 20vh;
	margin: 0 auto;
}

.about-container .terminal .terminal-header {
	height: 28px;
	background-color: #e4e3e5;
	border-radius: 10px 10px 0 0;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.about-container .terminal .terminal-header .red {
	background-color: #f96256;
	border: 1px solid #f65549;
}

.about-container .terminal .terminal-header .yellow {
	background-color: #fdbc3d;
	border: 1px solid #ffb524;
}

.about-container .terminal .terminal-header .green {
	background-color: #33c948;
	border: 1px solid #2dbb41;
}

.about-container .terminal .terminal-header .header-button {
	width: 12px;
	height: 12px;
	border-radius: 50%;
	margin-left: 9px;
}

.about-container .terminal .terminal-window {
	background-color: #757575;
	border-radius: 0 0 4px 4px;
	box-shadow: 0 50px 100px rgba(50,50,93,.15), 0 15px 35px rgba(50,50,93,.2), 0 5px 15px rgba(0,0,0,.12);
	font-family: Monaco,Consolas,Lucida Console,monospace;
	padding-top: 35px;
	padding-bottom: 25px;
}

.about-container .terminal .terminal-window .statement {
	margin-bottom: 25px;
	margin-left: 35px;
	margin-right: 35px;
	line-height: 24px;
}

.about-container .terminal .terminal-window .statement .input-statement {
	color: #f7f7f7;
}

.about-container .terminal .terminal-window .statement .input-statement:before {
	content: ">\A0";
}

.about-container .terminal .terminal-window .statement .return-statement {
	color: #e7d184;
}

.about-container .terminal .terminal-window .statement .return-statement a {
	color: #B3E5FC;
}

/* Projects */

.section-title {
	color: #212121;
	font-family: Camphor,Open Sans,Segoe UI,sans-serif;
	font-weight: 500;
	font-size: 1.5em;
	text-align: center;
	padding-top: 50px;
	margin-top: 50px;
	margin-bottom: 80px;
}

.section-title:after {
	content: " ";
	border: 4px solid #0288D1;
	display: block;
	margin: 0 auto;
	margin-top: 30px;
	width: 50px;
}

.projects-container {
	margin: 0 auto;
	font-family: Camphor,Open Sans,Segoe UI,sans-serif;
}

.projects-container .project-card {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	margin-bottom: 60px;
	background-color: #fff;
	border-radius: 4px;
	box-shadow: 0 50px 100px rgba(50,50,93,.05), 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.1);
	overflow: hidden;
}

.projects-container .project-card .project-image {
	width: 80%;
	position: absolute!important;
	top: 0;
	left: 0;
}

.projects-container .project-card .project-background {
	position: absolute;
	top: -1px;
	right: -1px;
	height: 110%;
	width: 70%;
	background-color: #ffffff;
	background-size: cover;
}

.projects-container .project-card .project-content {
	padding: 60px;
	width: 70%;
	z-index: 2;
}

.projects-container .project-card .project-content h3 {
	font-weight: 500;
	font-size: 1.8em;
	line-height: 38px;
	color: #525f7f;
	margin-top: 0;
	margin-bottom: 35px;
}

.projects-container .project-card .project-content p {
	margin-bottom: 30px;
	line-height: 27px;
	color: #525f7f;
}

.projects-container .project-card .project-content .project-skills {
	display: flex;
	flex-wrap: wrap;
}

.projects-container .project-card .project-content .project-skills .project-skill {
	border-radius: 4px;
	border: 2px solid #92eac0;
	padding: 8px;
	margin-right: 10px;
	margin-bottom: 10px;
	font-family: Camphor,Open Sans,Segoe UI,sans-serif;
	font-size: .85em;
	color: #525f7f;
}

.projects-container .project-card .project-content .project-links {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
}

.projects-container .project-card .project-content .project-links .project-link {
	margin-right: 20px;
	margin-top: 20px;
	white-space: nowrap;
	display: inline-block;
	line-height: 40px;
	padding: 0 14px;
	box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
	border-radius: 4px;
	letter-spacing: .025em;
	text-decoration: none;
	transition: all .15s ease;
	font-family: Camphor,Open Sans,Segoe UI,sans-serif;
	font-size: .9em;
	font-weight: 600;
	box-sizing: border-box;
	background: #0288D1;
	color: #fff;
}

.projects-container .project-card .project-content .project-links .project-link.secondary {
	background: #fff;
	color: #0288D1;
}